{% extends "baseLogin.html.twig" %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}
    
<div id="loginbox"> 
     {# On affiche tous nos message dans nos controller #}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert"> {{ message }} </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert"> {{ message }} </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning" role="alert"> {{ message }} </div>
    {% endfor %}

    <form class="form-vertical" method="POST">
        <h1 class="h3 mb-3 font-weigth-normal text-center">{{ controller_name }}</h1>

        {{ form_start(emailForm) }}
            <div class="control-group normal_text"> <h3><img src="{{asset('build/images/Untitled-2.png')}}"></h3></div>
            
            
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                         {{ form_widget(emailForm.email) }}
                        {# <input type="password" name="password" id="pass" class="form-control" required placeholder="Mot de passe"> #}
                    </div>
                </div>
            </div>
            {# <input type="hidden" name="token" value="{{ token }}"/> #}
            <div class="form-actions">
            <span class="pull-left"><a href="{{ path('app_login') }}" class="flip-link btn btn-success" id="to-login">&laquo; Se Connecter</a></span>
            <span class="pull-right">
                 {{ form_widget(emailForm.submit) }}
                {# <button type="submit" class="btn btn-success">Valider</button> #}
            </span>
            </div>
        {{ form_end(emailForm) }}
    </form>
</div>

{% endblock %}
