{% extends "baseLogin.html.twig" %}

{% block title %} {{ controller_name }} {% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weigth-normal text-center">{{ controller_name }}</h1>
    
    {# On affiche tous nos message dans nos controller #}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert"> {{ message }} </div>
    {% endfor %}
    {% for message in app.flashes('dager') %}
        <div class="alert alert-danger" role="alert"> {{ message }} </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning" role="alert"> {{ message }} </div>
    {% endfor %}


    {{ form(emailForm) }}

{% endblock %}