{% extends 'base.html.twig' %}

{% block title %}Compétence{% endblock %}

{% block body %}
    <h1>Liste des Compétences</h1>

    <table class="table table-sm" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.title }}</td>
                <td>
                    <a href="{{ path('competence_show', {'id': competence.id, 'article': article, 'parent': parent}) }}">Détails</a> || 
                    <a href="{{ path('competence_edit', {'id': competence.id, 'article': article, 'parent': parent}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de compétence trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('competence_new', {'article': article, 'parent': parent}) }}">Ajouter</a> ||
    <a href="{{ path('families_niveau', {'id': parent}) }}">Retour à l'article</a>
{% endblock %}
