{% extends 'base.html.twig' %}

{% block title %}Families index{% endblock %}

{% block body %}
    <h1>Families index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Parent</th>
                 <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for family in families %}
            <tr>
                <td>{{ family.id }}</td>
                 <td>
                    {% if family.parent != null %}
                        {{ family.parent.title }}
                        {# {% for enf in items %}
                            whi
                        {% endfor %}  #}
                    {% endif %}
                 </td>
                <td>{{ family.title }}</td>
                <td>
                    <a href="{{ path('families_show', {'id': family.id}) }}">show</a>
                    <a href="{{ path('families_edit', {'id': family.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('families_new') }}">Create new</a>
{% endblock %}
