{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Listes des Articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Parent</th>
                <th>Enfant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for family in families %}
            <tr>
                <td>{{ family.id }}</td>
                <td>{{ family.title }}</td>
                 <td>{{ family.parent }}</td>
                <td>{{ family.enfant ? family.enfant|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('families_show', {'id': family.id}) }}">Détail</a>
                    <a href="{{ path('families_edit', {'id': family.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('families_new') }}">Create new</a>
{% endblock %}
