{% extends 'base.html.twig' %}

{% block title %}Families index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_EDITOR')or is_granted('ROLE_ADMIN') %}
        <h1>Administrer Article</h1>
    {% else %}
        <h1>Choisir Article</h1>
    {% endif %}
    {% set ls = false %}
    {% set Niveau1 = null %}
    {% set NextNiveau = null %}
    {% set NiveauActuelle = null %}
    {% set test = false %}
    {% set min = 0 %}
    {% set max = 0 %}
    {% set NomMin = null %}
    {% set niveaux = NiveauRepository.findAll() %}
    {% for niveau in niveaux %}
        {% if min == 0 %}
            {% set min = niveau.id %}
            {% set NomMin = niveau.title %}
        {% endif %}
        {% if niveau.id < min %}
            {% set min = niveau.id %}
        {% endif %}
    {% endfor %}
    {% set tab = [] %}
    {% set i = 0 %}
    {% for niveau in niveaux %}
        {% if max == 0 %}
            {% set max = niveau.id %}
            {% set tab = tab | merge([max]) %}
            {# {% set tab[0] = max %} #}
            {% set i = i + 1 %}
        {% endif %}
        {% if niveau.id > max %}
            {% set max = niveau.id %}
            {% set tab = tab | merge([max]) %}
            {# {% set tab[i] = max %} #}
            {% set i = i + 1 %}
        {% endif %}
    {% endfor %}
    {% set tablength = tab | length %}
    {% set famili1 = null %}
    {% set idNiveau = null %}
    {% set nomNiveau = null %}
    {% set parentArticle = null %}
    {% for famili1 in families %}
        {% set idNiveau = famili1.niveau.id %}
        {% set nomNiveau = famili1.niveau.title %}
        {% if famili1.parent != null %}
            {% set parentArticle = famili1.parent.title %}
        {% endif %}

    {% endfor %}
    {% if familis == null %}
        {% if idNiveau != null %}
            <p>Article niveau
                {{ idNiveau }}
                :
                {{ nomNiveau }}
            </p>
        {% else %}
            <p>Article niveau
                {{ min }}
                :
                {{ NomMin }}
            </p>
        {% endif %}
        {% if parentArticle != null %}
            <p>Parent :
                {{ parentArticle }}
            </p>
        {% endif %}
    {% else %}
        {% set famili = null %}
        {% for famil in familis %}
            {% set famili = famil %}
        {% endfor %}

        {% set i = 0 %}
        {% set niveaux = NiveauRepository.findAll() %}
        {% for niveauPrec in niveaux %}
            {% set i = i + 1 %}
            {% set Niveau1 = niveauPrec %}
            {% if niveauPrec.id == famili.niveau.id %}
                {% set ls = true %}
            {% elseif ls == true %}
                {% set NiveauActuelle = niveauPrec %}
                {% set test = true %}
                {% set ls = false %}
            {% elseif test == true and ls == false %}
                {% set NextNiveau = niveauPrec %}
                {% set test = false %}
            {% endif %}
        {% endfor %}
        {% if NiveauActuelle != null %}
            <p>Article niveau
                {{ NiveauActuelle.id }}
                :
                {{ NiveauActuelle.title }}
            </p>
        {% else %}
            <p>Article niveau
                {{ Niveau1.id }}
                :
                {{ Niveau1.title }}
            </p>
        {% endif %}
        <p>Parent :
            {{ famili.title }}
        </p>
    {% endif %}

    <table class="table table-sm" id="myTable">
        <thead>
            <tr>
                <th></th>
                {# <th>Parent</th> #}
                <th>Intitulé</th>
                {% if is_granted('ROLE_EDITOR')or is_granted('ROLE_ADMIN') %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for family in families %}
                <tr>
                    <td>
                        <li></li>
                    </td>
                    {# <td>{{ family.id }}</td> #}
                    {# <td>
                        {% if family.parent != null %}
                            {{ family.parent.title }}
                        {% endif %}
                    </td> #}
                    <td>
                        {# {% if family.parent != null %} #}
                        {% if idNiveau == tab[tablength - 1] %}
                            {% if family.etat == false %}
                                {% if family.parent != null and family.competences|length != 0 %}
                                    <a href="{{ path('questions_index', {'id': family.id, 'article': family.id, 'parent': family.parent.id}) }}">{{ family.title }}</a>
                                {% elseif family.parent == null and family.competences|length != 0  %}
                                    <a href="{{ path('questions_index_min', {'id': family.id, 'article': family.id, 'min': min}) }}">{{ family.title }}</a>
                                {% else %}
                                    <p>{{ family.title }} </p> 
                                {% endif %}

                            {% else %}
                                <p>{{ family.title }}
                                    (Désactivé)</p>
                            {% endif %}
                            {# {% elseif idNiveau == tab[tablength - 1] or NiveauActuelle.id == tab[tablength - 1] %}
                            <a href="{{ path('questions_new', {'id': family.id}) }}">{{ family.title }}</a> #}
                        {% else  %}
                            {% if family.etat == false %}
                                <a href="{{ path('families_niveau', {'id': family.id}) }}">{{ family.title }}</a>
                            {% else %}
                                <p>{{ family.title }}
                                    (Désactivé)</p>
                            {% endif %}
                        {% endif %}
                        {# {% endif %}
                            <a href="{{ path('families_niveau2', {'id': family.id,'parent2': family.parent}) }}">{{ family.title }}</a>
                    {% endif %} #}
                    </td>
                    {% if (is_granted('ROLE_EDITOR')and app.user.article != null) 
                        or is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('families_show', {'id': family.id, 'min': min}) }}">Détails</a> || 
                            <a href="{{ path('families_edit', {'id': family.id, 'min': min}) }}">Modifier</a> 
                            {% if family.etat == false %}
                                || <a href="{{ path('families_activation', {'id': family.id, 'min': min}) }}">Désactiver</a> ||
                            {% else %}
                                <a href="{{ path('families_activation', {'id': family.id, 'min': min}) }}">Activer</a> 
                            {% endif %}

                            
                            {% if NiveauActuelle != null %}
                                {% if is_granted('ROLE_EDITOR') and family.title == min %}
                                    || <a href="{{ path('competence_index_min', {'article': family.id, 'articleEntity': family, 'min': min}) }}">Compétence</a> ||
                                {% elseif is_granted('ROLE_EDITOR') and NiveauActuelle.id == tab[tablength - 1] %}
                                    <a href="{{ path('competence_index', {'article': family.id, 'articleEntity': family, 'parent': family.parent.id}) }}">Compétence</a> ||
                                {% elseif is_granted('ROLE_EDITOR') and idNiveau == tab[tablength - 1] %}
                                    <a href="{{ path('competence_index', {'article': family.id, 'articleEntity': family, 'parent': family.parent.id}) }}">Compétence</a> ||
                                {% endif %}
                            {% elseif is_granted('ROLE_EDITOR') and idNiveau == tab[tablength - 1] %}
                            <a href="{{ path('competence_index_min', {'article': family.id, 'articleEntity': family, 'min': min}) }}">Compétence</a> ||
                            {% endif %}
                            {% if family.parent != null %}
                                {% if is_granted('ROLE_ADMIN')and family.parent.users == null %}
                                    <a href="{{ path('families_affectation_user', {'id': family.id, 'min': min}) }}">Affecter Admin User</a> ||
                                {% endif %}
                            {% else %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('families_affectation_user', {'id': family.id, 'min': min}) }}">Affecter Admin User</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas d'article trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if (is_granted('ROLE_EDITOR')and app.user.article != null) 
        or is_granted('ROLE_ADMIN') %}
            {% set famili = null %}
        {% for famil in familis %}
            {% set famili = famil %}
        {% endfor %}
        {% if familis == null %}
            <a href="{{ path('families_new_niveau1', {'niveau': min}) }}">Ajouter article</a>
        {# {% elseif famili.parent == null %}
            <a href="{{ path('families_new_niveau1', {'niveau': min}) }}">Ajouter</a> #}
        {% else %}

            {% set ls = false %}
            {% set NextNiveau = null %}
            {% set NiveauActuelle = null %}
            {% set test = false %}
            {% set niveaux = NiveauRepository.findAll() %}
            {% for niveauPrec in niveaux %}
                {% if niveauPrec.id == famili.niveau.id %}
                    {% set ls = true %}
                {% elseif ls == true %}
                    {% set NiveauActuelle = niveauPrec %}
                    {% set test = true %}
                    {% set ls = false %}
                {% elseif test == true and ls == false %}
                    {% set NextNiveau = niveauPrec %}
                    {% set test = false %}
                {% endif %}
            {% endfor %}
            {# {% if i <= 1 %} #}
            <a href="{{ path('families_new', {'parent': famili.id,'niveau': NiveauActuelle.id}) }}">Ajouter article</a>
            {# {% else %}
            <a
                href="{{ path('families_new', {'parent': famili.id,'niveau': NiveauActuelle.id}) }}">Ajouter</a>
            {% endif %} #}
        {% endif %}
        {# {% elseif is_granted('ROLE_EDITOR') and NiveauActuelle.id == tab[tablength - 1] %}
    <a
        href="{{ path('families_new', {'parent': famili.id,'niveau': NiveauActuelle.id}) }}">Creer une compétence</a>
{% elseif is_granted('ROLE_EDITOR') and idNiveau == tab[tablength - 1] %}
    <a
        href="{{ path('families_new', {'parent': famili.id,'niveau': NiveauActuelle.id}) }}">Creer une compétence</a> #}
    {% endif %}
{% endblock %}