{% extends 'base.html.twig' %}

{% block title %}Families{% endblock %}

{% block body %}
    <h1>Families</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ family.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ family.title }}</td>
            </tr>
        </tbody>
    </table>
    {% if family.parent != null %}
        <a href="{{ path('families_niveau', {'id': family.parent.id}) }}">retour aux articles</a>
    {% else %}
        <a href="{{ path('families_index', {'niveau': min}) }}">retour aux articles</a>
    {% endif %}

    <a href="{{ path('families_edit', {'id': family.id, 'min': min}) }}">Editer</a>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('families/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}