{% extends "base.html.twig" %}

{% block title %} Listes des utilisateurs {% endblock %}

{% block body %}
    <h3>Listes des utilisateurs</h3>
        <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>E-mail</th>
                <th>Rôles</th>
                <th>Nombre Articles</th>
                <th>Nombre Question</th>
                <th>Niveau(s)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
       {# Boucler les utilisateur inscript dans nos base de données #}
            {% for user in users %}
                <tr>
                    <td> {{ user.id }} </td>
                    <td> {{ user.email }} </td>
                    <td> 
                    {% set test = 0 %}
                        {% for role in user.roles %}
                            {% if role == 'ROLE_USER' %}
                               .User.
                            {% elseif role == 'ROLE_EDITOR' %}
                                {% set test = 1 %}
                                .Admin User.
                            {% elseif role == 'ROLE_ADMIN' %}
                                .Super Admin.
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td> {{ user.families|length }} </td>
                    <td> {{ user.questions|length }} </td>
                    <td> 
                        {% for niveau in user.niveau %}
                            {{ niveau.title }},
                        {% endfor %}
                    </td>
                    <td>
                        {% if test == 1 %}
                            <a href="{{ path('admin_modifier_admin_user', {'id': user.id } ) }}" class="btn btn-sm btn-outline-primary">Modifier</a>
                        {% else %}
                            <a href="{{ path('admin_modifier_utilisateur', {'id': user.id } ) }}" class="btn btn-sm btn-outline-primary">Modifier</a>
                        {% endif %}
                    </td>
                </tr>
                {% set test = 0 %}
            {% else %}
                <th>
                    <td colspan="6">Il n'y a pas d'utilsatuer inscrit!</td>
                </th>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}