{% extends 'base.html.twig' %}

{% block title %}Types | Secu Quizz{% endblock %}

{% block body %}
    <h1>Types</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ type.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('types_index') }}">retour aux types</a> ||

    <a href="{{ path('types_edit', {'id': type.id}) }}">editer</a>

    {{ include('types/_delete_form.html.twig') }}
{% endblock %}
