<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/bootstrap-4.4.1/dist/css/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% if is_granted('ROLE_USER') %}
            {# <li><a href="{{ path('app_logout') }}">Logout</a></li> #}
        {% else %}
            {# <li><a href="{{ path('app_login') }}">Login</a></li> #}
        {% endif %}


         <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Quizz</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_utilisateurs') }}">Utilisateur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('niveau_index') }}">Niveau</a>
                        </li>

                    {% endif %}
                    <li class="nav-item">

                        {% set niveaux = NiveauRepository.findAll() %}
                        {% set min = 0 %}

                        {% for niveau in niveaux %}
                                {% if min == 0 %}
                                    {% set min = niveau.id %}
                                {% endif %}
                                {% if niveau.id < min %}
                                    {% set min = niveau.id %}
                                {% endif %}
                        {% endfor %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if min != 0 %}
                                <a class="nav-link" href="{{ path('families_index', {'niveau': min}) }}">Articles</a>
                            {# {% else %}
                                <a class="nav-link" href="{{ path('families_index', {'niveau': min}) }}">{{min}}</a> #}
                            {% endif %}   
                        {% elseif (is_granted('ROLE_EDITOR')) and (app.user.article != "") %}
                            {% if app.user.article.id != null %}
                                <a class="nav-link" href="{{ path('families_niveau', {'id': app.user.article.id}) }}">Articles</a>
                            {% endif %}
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('types_index') }}">Type</a>
                    </li>
                    <li class="nav-item">
                        {# {% set families = FamiliesRepository.findAll() %}
                        {% set minF = 0 %}
                        
                        {% for family in families %}
                                {% if minF == 0 %}
                                    {% set minF = family.id %}
                                {% endif %}
                                {% if family.id < minF %}
                                    {% set minF = family.id %}
                                {% endif %}
                        {% endfor %}
                        {% if minF != 0 %} #}
                                <a class="nav-link" href="{{ path('questions_list') }}">Questions</a>
                        {# {% endif %}  #}
                    </li>
                     {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profil_index') }}">Profil</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">A propos</a>
                    </li>
                    </ul>
                    {# <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> #}
                    {% if is_granted('ROLE_ADMIN') %}
                        Super Administrateur
                    {% elseif is_granted('ROLE_EDITOR') %}
                        Administrateur
                    {% elseif is_granted('ROLE_USER') %}
                        Utilisateur
                    {% endif %}
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        Déconnecter
                    </a>
                    </form>
                </div>
            </nav>

            {% block body %}{% endblock %}
        
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
