<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Favicon icon -->
        <!-- <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png"> -->
        <title>{% block title %}{% endblock %}</title> 

        <!-- Custom CSS -->
        <link href="{{ asset('build/libs/flot/css/float-chart.css') }}" type="text/css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ asset('build/css/style.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('build/datatables/dataTables.bootstrap4.css') }}" type="text/css" rel="stylesheet">
        
        {% block stylesheets %}{% endblock %}
   </head>
   <body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
{% if app.user %}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="{{ path('accueil') }}">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="{{ asset('build/images/gc.png') }}" alt="homepage" class="light-logo"  height="40" width="40"/>

                        </b>
                        <!--End Logo icon -->
                         <!-- Logo text -->
                        <span class="logo-text">
                             <!-- dark Logo text -->
                             <img src="{{ asset('build/images/Untitled-2.png') }}" alt="homepage" class="light-logo"  height="36,4"/>

                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="#" class="font-weight-bold">Super Administrateur</a>
                            {% elseif is_granted('ROLE_EDITOR') %}
                                <a href="#" class="font-weight-bold">Administrateur</a>
                            {% elseif is_granted('ROLE_USER') %}
                                <a href="#" class="font-weight-bold">Utilisateur</a>
                            {% endif %}
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('build/images/1.jpg') }}" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fa fa-power-off m-r-5 m-l-5"></i> Déconnexion</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">

                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('accueil') }}" aria-expanded="false"><i class="mdi mdi-home-variant"></i><span class="hide-menu">Accueil</span></a></li>
                         {% if is_granted('ROLE_ADMIN') %}
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link"  href="{{ path('admin_utilisateurs') }}" aria-expanded="false">
                                    <i class="mdi mdi-account-multiple"></i><span class="hide-menu">Utilisateur</span>
                                </a>
                            </li>

                            {% set articles = FamiliesRepository.findAll() %}
                            {% if articles == null %}
                                    <li class="sidebar-item">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link"  href="{{ path('niveau_index') }}" aria-expanded="false">
                                            <i class="mdi mdi-elevation-rise"></i><span class="hide-menu">Niveau</span>
                                        </a>
                                    </li>
                            {% endif %}       
                
                        {% endif %}
                        <li class="sidebar-item">
                            {% set niveaux = NiveauRepository.findAll() %}
                            {% set min = 0 %}

                            {% for niveau in niveaux %}
                                    {% if min == 0 %}
                                        {% set min = niveau.id %}
                                    {% endif %}
                                    {% if niveau.id < min %}
                                        {% set min = niveau.id %}
                                    {% endif %}
                            {% endfor %}
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if min != 0 %}
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('families_index', {'niveau': min}) }}">
                                        <i class="mdi mdi-television-guide"></i><span class="hide-menu">Articles</span>
                                    </a>
                                {% endif %}
                            {% elseif (is_granted('ROLE_EDITOR')) and (app.user.article != null) %}
                                {% if app.user.article.id != null %}
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('families_niveau', {'id': app.user.article.id}) }}">
                                        <i class="mdi mdi-television-guide"></i><span class="hide-menu">Articles</span>
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if min != 0 %}
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('families_index', {'niveau': min}) }}">
                                        <i class="mdi mdi-package-variant-closed"></i><span class="hide-menu">Envoyer la question</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('types_index') }}">
                                <i class="mdi mdi-calendar-multiple-check"></i><span class="hide-menu">Types</span>
                            </a>
                        </li>
                        {% endif %}
                        {# <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('questions_index') }}">
                                        <i class="mdi mdi-help"></i><span class="hide-menu">Questions</span>
                                    </a>
                        </li> #}
                        {% if is_granted('ROLE_USER') %}
                            <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('profil_index') }}">
                                    <i class="mdi mdi-account-key"></i><span class="hide-menu">Profile</span>
                                </a>
                            </li>
                        {% endif %}
                       <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('about') }}">
                                    <i class="mdi mdi-alert-box"></i><span class="hide-menu"> A propos</span>
                                </a>
                        </li>
                        <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{{ path('app_logout') }}">
                                    <i class="mdi mdi-power"></i><span class="hide-menu">
                                        Déconnecter
                                </a>
                        </li>
                            
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">


            {% block entete %} {% endblock %}

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">

                {% block body %} {% endblock %}

            </div>
              <!-- ============================================================== -->
              <!-- End Container fluid  -->
              <!-- ============================================================== -->
              <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
              Tous droits réservés aux administrateurs de ce site. Secu Quizz &#169; 2020
            </footer>
          <!-- ============================================================== -->
          <!-- End footer -->
          <!-- ============================================================== -->
       </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
  </div>
{% else %}
    <!-- <img src="/assets/img/404-image.png" alt="404 not found!"> -->
    <img style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;" src="{{asset('build/images/404-image.png')}}" title="my image" alt="My image">
    <h1 class="text-warning" style="text-align: center;">Page not found!</h1>
    <h1 style="text-align: center; margin-top: 10%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)">vous devez <a href="{{ path('app_login') }}"> se connecté</a> pour accéder à ce page</h1>
{% endif %}
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="{{ asset('build/libs/jquery/dist/jquery.min.js') }}"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="{{ asset('build/libs/popper.js/dist/umd/popper.min.js') }}"></script>
  <script src="{{ asset('build/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('build/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
  <script src="{{ asset('build/extra-libs/sparkline/sparkline.js') }}"></script>
  <!--Wave Effects -->
  <script src="{{ asset('build/js/waves.js') }}"></script>
  <!--Menu sidebar -->
  <script src="{{ asset('build/js/sidebarmenu.js') }}"></script>
  <!--Custom JavaScript -->
  <script src="{{ asset('build/js/custom.min.js') }}"></script>
  <!--This page JavaScript -->
  <!-- <script src="../../dist/js/pages/dashboards/dashboard1.js"></script> -->
  <!-- Charts js Files -->
  <script src="{{ asset('build/libs/flot/excanvas.js') }}"></script>
  <script src="{{ asset('build/libs/flot/jquery.flot.js') }}"></script>
  <script src="{{ asset('build/libs/flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ asset('build/libs/flot/jquery.flot.time.js') }}"></script>
  <script src="{{ asset('build/libs/flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ asset('build/libs/flot/jquery.flot.crosshair.js') }}"></script>
  <script src="{{ asset('build/libs/flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>
  <script src="{{ asset('build/js/pages/chart/chart-page-init.js') }}"></script>
  <script src="{{ asset('build/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('build/my_jquery_2.js') }}"></script>
  <script src="{{ asset('build/my_jquery.js') }}"></script>
{% block javascripts %} {% endblock %}


    </body>
    </html>