<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/bootstrap-4.4.1/dist/css/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% if is_granted('ROLE_USER') %}
            {# <li><a href="{{ path('app_logout') }}">Logout</a></li> #}
        {% else %}
            {# <li><a href="{{ path('app_login') }}">Login</a></li> #}
        {% endif %}


         <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Quizz</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_utilisateurs') }}">Utilisateur</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Types</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('questions_list') }}">Questions</a>
                    </li>
                     {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profil_index') }}">Profil</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">A propos</a>
                    </li>
                    </ul>
                    {# <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> #}
                    {% if is_granted('ROLE_ADMIN') %}
                        Super Administrateur
                    {% elseif is_granted('ROLE_EDITOR') %}
                        Administrateur
                    {% elseif is_granted('ROLE_USER') %}
                        Utilisatuer
                    {% endif %}
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        Déconnecter
                    </a>
                    </form>
                </div>
            </nav>

            {% block body %}{% endblock %}
        
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
