<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Secu Quizz</title><meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="{{ asset('build/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('build/css/bootstrap-responsive.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('build/css/matrix-login.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('build/css/font-awesome.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400,700,800') }}" type="text/css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

    </head>

   <body>
   
    {% block body %}{% endblock %}

    <script src="{{ asset('build/js/jquery.min.js') }}"></script>
    <script src="{{ asset('build/js/matrix.login.js') }}"></script>
    <script src="{{ asset('build/my_jquery_2.js') }}"></script>
    {% block javascripts %} {% endblock %}

    </body>
</html>
